<!-- header.html -->

<!DOCTYPE html>

<head>
  <title>Charleston Paddler :: Paddleboard Eco-Tours</title>
  <!-- Bootstrappy stuff -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

  <!-- Inline css -->
  <style>

  #welcomeHeader {
    text-align: center;
    margin-bottom: 30px;
  }

  #login-well {
    /*height: 175px;*/
    width: 385px;
    padding: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  #loginForm > .input-group {
    padding-bottom: 5px;
  }

  </style>


  <script type="text/javascript" src="jquery/jquery-2.0.3.js"></script>

  <script>
  // $(document).ready(function() {
  //   $("#logout").click(logout);
  // })

  // var logout = function() {
  //   $.get(
  //     '/logout'
  //   );
  // };
  </script>

</head>

<body>

  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Charleston Paddler</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a id='logout' href="/logout">Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <br />
  <br />
  <br />