<!--
	Charleston Paddler Web Application

	index.html - User either logs in, or navigates to create a new user.
-->

<% include header.html %>


	<div class="container">

		<h1 id="welcomeHeader">Welcome to the Charleston Paddler</h1>

	<% if (session.user == null) { %>

	<!-- Login well -->	
	<div id="login-well" class="form-horizontal well">
		<form id="loginForm" >
			<div class="input-group span6">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input type="text" name="email" class="form-control" placeholder="Email" required autofocus />
    </div>
    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input type="password" name="password" class="form-control" placeholder="Password" required />
    </div>
    <div style="text-align: center; margin-top: 10px;"><button id="loginButton" class="btn btn-primary">Login</button> or <a href="signup.html">sign up here.</a></div>
		</form>
		
		
	</div> <!-- /well -->

	<% } %>
	<% if (session.user) { %>

	<h3>User Info</h3>
	<p>First Name: <%= session.user.firstName %> </p>
	<p>Last Name: <%= session.user.lastName %> </p>
	<p>Email: <%= session.user.email %> </p>

	<% } %>

	</div> <!-- /container -->

	<script>
	$(document).ready(function() {
		$("#loginForm").submit(function() {
			$.post('/login',
						 $("#loginForm").serializeArray(),
						 function(res) {
						 		if (res.auth == false)
						 			alert(res.msg);
						 		else
						 			window.location = '/';
		  			 }
		  );
		  event.preventDefault();
		  return false;
		});
	});
	</script>

<% include footer.html %>
