<!--
	Charleston Paddler Web Application

	reservation.html - On this page, the user will be able to make a reservation
	for a tour.
-->

<% include header.html %>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<style>
		div.ui-datepicker{
			font-size:10px;
		}
	</style>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
// Initialize datepicker
$(document).ready(function() {
	$("#datepicker").datepicker({minDate: 0, onSelect: updateList});
});

// Update the list of dropdowns each time a new date is selected.
var updateList = function() {
	var date = $("#datepicker").datepicker("getDate");
	var sqlDateString = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
	$.post('/availableTours',
		 {date: sqlDateString},
		 function (results) {
		 	var $dropdown = $("#timeDropdown");
		 	$dropdown.html("");
		 	for (var i = 0; i < results.length; i++) {
		 		$dropdown.append('<option>' + results[i].tourTime + '</option>');
		 	}
		 });
};
</script>

<div class="container">
	<h2>Make a reservation</h2>
	<p>Select a date, and then choose a time slot from the dropdown.</p>

<div class="container">
	<div class="row">
		
		<div id="datepicker"></div>
		
		<label>Select a time: </label>
		<select id="timeDropdown">
		</select>

		
		<label>Group size: </label>
		<select>

			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
			<option>7</option>
			<option>8</option>
		</select>

		<button class="btn btn-primary" id="makeResButton">Make reservation!</button>

</div>
		
	</div>
	


</div>

<% include footer.html %>