<!--
	Charleston Paddler Web Application

	index.html - User either logs in, or navigates to create a new user.
-->

<!DOCTYPE html>

<head>
	<title>Charleston Paddler :: Paddleboard Eco-Tours</title>
	<!-- Bootstrappy stuff -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

	<!-- Inline css -->
	<style>

	#signupform .input-group-addon {
		width: 110px;
	}

	#signupform .form-control {
		width: 300px;
	}

	#signupform .input-group {
		margin-bottom: 7px;
	}

	#passOkIcon {
		margin-left: 10px;
		color: green;
		display: none;
	}
	


	</style>

	<script type="text/javascript" src="jquery/jquery-2.0.3.js"></script>

	<script>

	$(document).ready(function() {

		// Submit
		$("#createAccount").click(function() {
			var errMsg = "";
			if (!noneEmpty)
				errMsg += "Please fill out all the fields.\n";
			if (!passMatch)
				errMsg += "Your passwords need to match!";
			if (errMsg.length != 0) {
				alert(errMsg);
				return;
			}

			// Sending the request to create new user
			$.post("/createAccount",
				$("#signupform").serializeArray(),
				function(res) {
					if (res.success == false)
						alert(res.msg);
					else
						window.location = '/';
				});
		});

		// Validate input
		var noneEmpty = false,
				passMatch = true;
		var $password = $("[name='password']");
		var $passConfirm = $("[name='passConfirm']");
		var $inputs = $("input");
		var $passMatchIcon = $("i");

		$password.add($passConfirm).keyup(function() {
			if ($password.val() == $passConfirm.val() && $password.val().length > 0) {
				$passMatchIcon.css("display", "inline-block");
				passMatch = true;
			}
			else {
				$passMatchIcon.css("display", "none");
				passMatch = false;
			}
		});

		$inputs.keyup(function() {
			var stop = false;
			$inputs.each(function() {
				if ($(this).val().length > 0 && !stop)
					noneEmpty = true;
				else {
					noneEmpty = false;
					stop = true;
				}
			});
		})

	});


	</script>

</head>

<body>

	<!-- Fixed navbar -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Charleston Paddler</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>

	<br />
	<br />
	<br />

	<div class="container">

	<h2>Create an account</h2>
	<br />

		<!-- Sign up form -->
		<form id="signupform">
			<div class="panel">
			<div class="input-group">
  			<span class="input-group-addon">Email</span>
				<input type="text" class="form-control" name="email">
			</div>
			<div class="input-group">
  			<span class="input-group-addon">First Name</span>
				<input type="text" class="form-control" name="firstName">
			</div>
			<div class="input-group">
  			<span class="input-group-addon">Last Name</span>
				<input type="text" class="form-control" name="lastName">
			</div>
			<div class="input-group">
  			<span class="input-group-addon">Phone</span>
				<input type="text" class="form-control" name="phone">
			</div>
			</div>

			<div class="panel">
			
			<div class="input-group">
  			<span class="input-group-addon">Password</span>
				<input type="password" class="form-control" name="password">
			</div>
			<div class="input-group">
  			<span class="input-group-addon">Re-enter PW</span>
				<input type="password" class="form-control" name="passConfirm">  <i id="passOkIcon" class="glyphicon glyphicon-ok"></i>
			</div>
			</div>

			

			

		</form>
		<button id="createAccount" class="btn btn-primary">Create account</button>

	</div> <!-- /container -->

	<!-- Scripts -->
	
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</body>

